figure.donut {
    margin: 0;
    position: relative;

    .money-amount {
        display: block;
    }

    figurelegend {
        position: absolute;
        left: 0;
        text-align: center;
        top: 49%;
        width: 100%;
    }
}
