figure.donut {
    margin: 0;
    position: relative;

    g:focus {
        stroke: $brand-color;
        stroke-width: 2;
    }

    .money-amount {
        display: block;
    }

    figcaption {
        left: 0;
        margin: -2em 0 0;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
        z-index: -1;    /* text does not hide any hover-able path underneath */
    }
}
