figure.donut {
    margin: 0;
    position: relative;

    g:focus {
        stroke: $brand-color;
        stroke-width: 2;
    }

    .money-amount {
        display: block;
    }

    figcaption {
        position: absolute;
        left: 0;
        text-align: center;
        top: 49%;
        width: 100%;
    }
}
