ol.legend-list{
    list-style: none;
    margin: 0;
    padding: 0;

    font-size: 1em;

    $active-color: $copy-color;

    > li {
        border-radius: .25em;
        cursor: help;
        display: flex;
        margin-bottom: .25em;
    }

    .color{
        border-radius: 3px;
        display: inline-block;
        flex: 0 0 auto;
        align-self: first baseline;
        height: 1em;
        width: 1em;
        margin-right: .3em;

        vertical-align: sub;
    }

    a {
        display: block;
    }

    a[href] {
        color: $copy-color;
        display: block;
        text-decoration: underline;

        &:hover,
        &:focus {
            color: black;
            text-decoration: none;
        }
    }

    .focused {
        &:before {
            content: "▶ ";
            color: $active-color;
            margin-left: -1.3em;
            position: absolute;
        }

        a {
            text-decoration: none;
        }
    }
}
