ol.legend-list{
    list-style: none;
    margin: 0;
    padding: 0;

    font-size: 1em;

    > li {
        margin-bottom: .25em;
    }

    .color{
        border-radius: 3px;
        display: inline-block;
        height: 1em;
        width: 1em;
        margin-right: .3em;

        vertical-align: sub;
    }

    a {
        text-decoration: underline;

        &.disabled {
            text-decoration: none;
        }
    }
}
