@import 'd3-axis';

.stackchart {
    .actionable{
        cursor: pointer;
    }

    .content{
        text.stackchart-title{
            fill: $discrete-copy-color;
            font-size: .9em;

            // In cases where the title overlaps a stackchart y-tick line, a white stroke+'paint-order: stroke'
            // would protect against a the title being slightly harder to read
            // however, there is no 'paint-order: stroke' in IE11, so giving up for now
            //paint-order: stroke;
            //stroke: #fff;
            //stroke-width: 2px;

            tspan:nth-child(2){
                font-weight: 100;
            }
        }

        .selected text.stackchart-title {
            fill: $copy-color;
            font-weight: bold;
        }

        .brick{
            text{
                fill: white;
            }

            &.focused {
                outline: 2px solid rgba(0, 0, 255, .3);
            }
        }

        &.with-focus .brick:not(.focused) {
            rect, circle, path {
                fill: $discrete-grey !important;
            }
        }
    }

    .d3-axis{
        .selected{
            font-weight: bold;

            text{
                fill: black;
            }
        }
    }

}
