{
  "presets": ["env", "react"],
  "plugins": [
    [
      "inline-svg",
      {
        "svgo": {
          "plugins": [
            {
              "removeDoctype": true
            }
          ]
        }
      }
    ]
  ]
}
