$brand-color: #e62e46;

$brand-palette: (
    #e62d46,
    #e61478,
    #00aad2,
    #5aaf4b,
    #462d87,
    #fb4f14
);

$area-colors: (
    ('R': #62A5CB, 'D': #EE9FCF),
    ('R': #12982D, 'D': #FEC125),
    ('R': #5AAF4B, 'D': #FE6F3E),
    ('R': #00AAD2, 'D': #FF6C7E),
    ('R': #462D87, 'D': #E2A302),
    ('R': #ABD533, 'D': #670501),
    ('R': #317CB2, 'D': #95704D),
    ('R': #A2B8F0, 'D': #B34A01),
    ('R': #02424A, 'D': #F7393A),
    ('R': #1F9383, 'D': #E7AD79),
    ('R': #8DE4D3, 'D': #6B4472),
);

$discrete-grey: #bdbdbd;
$table-border-color: $discrete-grey;

$rdfi: (
    R: (F: #556AB5, I: #7D91D5),
    D: (F: #FB7800, I: #FFA655),
);

@mixin apply-color($color){
    background-color: $color;
    fill: $color;
    rect, circle, path{
        fill: $color;
    }
}

@mixin apply-area-color($color){
    @include apply-color($color);

    &.darker{
         @include apply-color(darken($color, 20%));
    }

    &.lighter{
         @include apply-color(lighten($color, 20%));
    }
}

@for $i from 0 to length($area-colors) {
    .area-color-#{$i}.rdfi-D,
    .area-color-#{$i}[class*="M52-DF"],
    .area-color-#{$i}[class*="M52-DI"],
    [class*="M52-DF"] .color.area-color-#{$i},
    [class*="M52-DI"] .color.area-color-#{$i} {
        $color: map-get(nth($area-colors, $i+1), 'D');
        @include apply-area-color($color);
    }

    .area-color-#{$i}.rdfi-R,
    .area-color-#{$i}[class*="M52-RF"],
    .area-color-#{$i}[class*="M52-RI"],
    [class*="M52-RF"] .color.area-color-#{$i},
    [class*="M52-RI"] .color.area-color-#{$i} {
        $color: map-get(nth($area-colors, $i+1), 'R');
        @include apply-area-color($color);
    }
}

.discrete-grey{
    @include apply-color($discrete-grey);
}
