$brand-color: #e62e46;

$brand-palette: (
    #e62d46,
    #e61478,
    #00aad2,
    #5aaf4b,
    #462d87,
    #fb4f14
);

$area-color-1 : $brand-color;
$area-color-2 : #aebf8a;
$area-color-3 : #ab76f2;
$area-color-4 : #88cc1f;
$area-color-5 : #da53fc;
$area-color-6 : #cf8f69;
$area-color-7 : #539ab3;
$area-color-8 : #05cfc0;
$area-color-9 : #c8b0d4;
$area-color-10 : #eaaf16;

$discrete-grey: #c8c8c8;
$table-border-color: $discrete-grey;

$rdfi: (
    R: #556AB5,
    D: #FB7800,
    F: lighten($discrete-grey, 12%),
    I: $discrete-grey,
);


@mixin apply-color($color){
    background-color: $color;
    fill: $color;
    rect, circle, path{
        fill: $color;
    }
}

@mixin apply-area-color($color){
    @include apply-color($color);

    &.darker{
         @include apply-color(darken($color, 20%));
    }

    &.lighter{
         @include apply-color(lighten($color, 20%));
    }
}

.area-color-1{
    @include apply-area-color($area-color-1);
}
.area-color-2{
    @include apply-area-color($area-color-2);
}
.area-color-3{
    @include apply-area-color($area-color-3);
}
.area-color-4{
    @include apply-area-color($area-color-4);
}
.area-color-5{
    @include apply-area-color($area-color-5);
}
.area-color-6{
    @include apply-area-color($area-color-6);
}
.area-color-7{
    @include apply-area-color($area-color-7);
}
.area-color-8{
    @include apply-area-color($area-color-8);
}
.area-color-9{
    @include apply-area-color($area-color-9);
}
.area-color-10{
    @include apply-area-color($area-color-10);
}

.discrete-grey{
    @include apply-color($discrete-grey);
}
