@import '../../shared/style/sunburst';
@import 'top-level-vars';
@import 'side-by-side';
@import '../../shared/style/donut';

$RX-S: 40%;
$RX-L: 60%;


.explore-budget{
    width: 100%;
    padding: 0;

    @media screen and (min-width: $main-column-breakpoint) {
        max-width: $column-max-width;
        padding: 0;
    }

    .h4 select {
        font-size: inherit;
        margin: 0 .5em;
    }


    section{
        padding-top: 1em;

        &.discrete {
            background: $discrete-background-color;

            h2, .h2 {
                color: $copy-color;
            }
        }

        .intro,
        .inline-tabs {
            max-width: 580px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .rdfi-choice{
        display: flex;
        flex-direction: row;
    }

    .icon {
        @include icon();
    }

    .side-by-side {
        border-bottom: 2px solid $discrete-grey;
        margin: 1.5em 0;
        padding: 0 0 1.5em;
        width: 100%;

        > .side {
            max-width: 50vw;
        }

        @media screen and (min-width: $main-column-breakpoint){
            & {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;

                > .side {
                    flex: 1 1 auto;
                    max-width: 260px;
                    padding: 0;
                    margin: 0;
                }
            }
        }

        figcaption {
            font-size: 1.1em;
            margin-top: -1em;

            .money-amount {
                font-size: 1.3em;
            }
        }

        .explanatory-legend {

            dt {
                font-weight: bold;
                position: relative;
            }

            dt,
            dd {
                margin-left: 0;
                padding-left: 40px;
            }

            dd {
                margin-bottom: 1.5em;
            }

            .money-amount {
                display: block;
                font-size: 1.1em;

                .icon {
                    display: inline-block;
                    margin-left: -(24px + 10px);
                    margin-right: 10px;
                    vertical-align: middle;
                }
            }

            .markdown-rendered p {
                color: $discrete-copy-color;
                margin-top: 0;
                margin-bottom: .25em;
            }
        }
    }

    .tabs {
        $padding: 8px;

        background: $discrete-background-color;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;

        [role="tab"] {
            border-bottom: $padding solid $table-border-color;
            color: rgba($copy-color, .7);
            display: block;
            flex: 1 1 auto;
            padding: $padding;
            text-decoration: none;

            &[aria-selected="true"] {
                box-shadow: 0 0 5px darken($discrete-grey, 10%);
                color: $copy-color;
            }
        }

        .icon {
            display: block;
            margin-bottom: .75em;
        }
    }

    .inline-tabs {
        display: flex;

        > li {
            align-self: center;

            &:last-child {
                flex: 0 1 auto;
                font-size: .9em;
            }
        }

        [role="tab"] {
            border: none;
            background: transparent;
            font-size: inherit;
            padding: .5em 1em;
            white-space: nowrap;

            &[aria-selected="true"] {
                background: $accented-background-color;
            }

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }

        .icon {
            vertical-align: middle;
        }
    }

    @each $rd, $pairs in $rdfi {
        @each $fi, $color in $pairs {
            .tabs--rdfi [role="tab"].rdfi-#{$rd}.rdfi-#{$fi} {
                border-color: rgba($color, .7);
                transition: border .2s ease-in-out;

                &[aria-selected="true"] {
                    border-color: $color;
                }

                .icon {
                    color: $color;
                }
            }
        }
    }

    .tabpanel {
        background: $accented-background-color;
        padding: 1rem;

        .h4 {
            margin: 0 0 2rem 0;
            padding-top: 1rem;
        }
    }

    .stackchart{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .over-time{
            flex: 1 0 70%;
        }

        .legend-list{
            flex: 1 1 25%;
            font-size: .9em;
            padding-left: 1em;
            margin-bottom: 2.5em;
        }


        @media screen and (min-width: $stackchart-small-breakpoint) {
            justify-content: space-between;

            .legend-list {
                display: flex;
                flex-flow: row wrap;
                align-items: flex-start;

                > li {
                    margin: 0 .5em .5em 0;
                    flex: 1;
                    white-space: nowrap;
                }
            }
        }

        @media screen and (min-width: $stackchart-large-breakpoint) {
            align-items: flex-end;
            flex-direction: row;

            .legend-list {
                display: block;

                > li {
                    margin: 0 0 .25em 0;
                    white-space: normal;
                }
            }
        }
    }

    @each $rd, $pairs in $rdfi {
        @each $fi, $color in $pairs {
            .donut g.rdfi-#{$rd}.rdfi-#{$fi} {
                fill: $color;
            }
        }
    }

    .legend-list .color {
        border: 1px solid #fff;
        border-radius: 100%;
    }

    .bubble-chart-cluster {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        nav {
            flex: 1 1 100%;
        }

        .legend-list {
            display: flex;
            justify-content: space-between;

            ul li {
                display: inline;
            }

            &:nth-child(2) {
                text-align: right;
            }
        }

        .bubble-chart {
            margin: 1.5em 0;
            position: relative;
            width: 25%;

            figcaption {
                display: block;
                padding: 0 .5em;
                position: absolute;
                text-align: center;
                text-shadow: -1px 0px white,
                             1px 0 white,
                             0 -1px white,
                             0 1px white;
                width: 100%;

                span:not(.money-amount) {
                    font-size: .9em;
                }
            }

            .money-amount {
                display: block;
            }
        }

        @each $rd, $pairs in $rdfi {
            @each $fi, $color in $pairs {
                .rdfi-#{$rd}.rdfi-#{$fi} {
                    fill: $color;
                    // stroke: darken($color, 8%);
                    // stroke-width: 2px;
                }

                /* makes it clear for keyboard navigation */
                a:focus .rdfi-#{$rd}.rdfi-#{$fi},
                a:hover .rdfi-#{$rd}.rdfi-#{$fi} {
                    fill: lighten($color, 10%);
                    // stroke: darken($color, 15%);
                }
            }
        }
    }


    .m52-by-fonction{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;

        @media screen and (min-width: $explore-masses-breakpoint) {
            flex-direction: row;
        }

        & > :first-child{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            flex: 2;

            .sunburst .slice{
                cursor: pointer;
            }

        }

        & > :nth-child(2){
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex: 1;
        }

        .display-choice{
            display: flex;
            flex-direction: row;
            align-items: center;

            margin: 1em 0 2em 0;

            .radio{
                margin-left: 0.5em;
                display: flex;
                flex-direction: column;
                align-items: stretch;

                button{
                    padding: 0.5em;
                    border: 1px solid $table-border-color;

                    &.selected{
                        background-color: $brand-color;
                    }
                }
            }
        }

        @for $i from 0 to length($area-colors) {
            .M52-RI-#{$i} path,
            .M52-RF-#{$i} path {
                fill: map-get(nth($area-colors, $i+1), 'R');
            }

            .M52-DI-#{$i} path,
            .M52-DF-#{$i} path {
                fill: map-get(nth($area-colors, $i+1), 'D');
            }
        }

        .legend-list .color {
            @for $i from 0 to length($area-colors) {
                &.M52-RI-#{$i},
                &.M52-RF-#{$i} {
                    background-color: map-get(nth($area-colors, $i+1), 'R');
                }

                &.M52-DI-#{$i},
                &.M52-DF-#{$i} {
                    background-color: map-get(nth($area-colors, $i+1), 'D');
                }
            }
        }
    }
}
