@import '../../shared/style/sunburst';
@import 'top-level-vars';
@import 'side-by-side';
@import '../../shared/style/donut';

$RX-S: 40%;
$RX-L: 60%;


.explore-budget {

    .h4 select {
        font-size: inherit;
        margin: 0 .5em;

        .selected {
            font-weight: bold;
        }
    }


    section{
        padding-top: 1em;

        &.discrete {
            background: $discrete-background-color;

            h2, .h2 {
                color: $copy-color;
            }
        }

        .intro {
            max-width: 580px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .rdfi-choice{
        display: flex;
        flex-direction: row;
    }

    .icon {
        @include icon();
    }

    span.money-amount {
        display: block;
        font-size: 1.1em;

        .suffix, .prefix {
            font-weight: normal;
        }
    }

    .side-by-side {
        border-bottom: 2px solid $discrete-grey;
        margin: 1.5em 0;
        padding: 0 0 1.5em;
        width: 100%;

        @media screen and (min-width: $main-column-breakpoint){
            & {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;

                > .side {
                    flex: 1 1 auto;
                    max-width: 350px;
                    padding: 0;
                    margin: 0;
                }
            }
        }

        figcaption {
            font-size: 1.1em;

            .money-amount {
                font-size: 1.3em;
            }
        }

        .explanatory-legend {

            dt {
                font-weight: bold;
                position: relative;
                white-space: nowrap;
            }

            dt,
            dd {
                margin-left: 0;
                padding-left: 40px;
            }

            dd {
                margin-bottom: 1.5em;
            }

            p {
                font-size: .9em;
            }

            @each $rd, $pairs in $rdfi {
                @each $fi, $color in $pairs {
                    .rdfi-#{$rd}.rdfi-#{$fi} .icon path {
                        fill: $color;
                    }
                }
            }

            .icon {
                display: inline-block;
                margin-left: -(24px + 10px);
                margin-right: 10px;
                vertical-align: middle;
            }

            .markdown-rendered p {
                color: $discrete-copy-color;
                margin-top: 0;
                margin-bottom: .25em;
            }
        }
    }

    .tabs {
        $padding: 8px;

        background: $discrete-background-color;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;

        @media screen and (min-width: $main-column-breakpoint){
            & {
                flex-flow: row nowrap;
            }
        }

        > * {
            flex: 1 1 auto;
        }

        [role="tab"] {
            border-bottom: $padding solid $table-border-color;
            color: rgba($copy-color, .7);
            display: block;
            padding: 1em;
            text-decoration: none;

            &:hover:not([aria-selected="true"]),
            &:focus:not([aria-selected="true"]) {
                box-shadow: 0 0 4px darken($discrete-grey, 20%);
                color: $copy-color;
            }

            &[aria-selected="true"] {
                box-shadow: 0 0 4px darken($discrete-grey, 40%);
                color: $copy-color;
            }
        }

        .icon {
            display: block;
            margin-bottom: .75em;
        }
    }

    .inline-tabs {
        border-bottom: 1px solid $table-border-color;
        display: flex;

        @media screen and (min-width: $main-column-breakpoint){
            padding: 0 3rem;
        }

        > li {
            align-self: center;
            margin-bottom: -1px;    // to overlap the tabs border
        }

        a[role="tab"] {
            color: $copy-color;
            display: block;
        }

        a[role="tab"],
        button[role="tab"] {
            background: transparent;
            border: none;
            border-top: 3px solid transparent !important;
            font-size: .8em;
            padding: .5em 1em;
            text-decoration: underline;
            white-space: nowrap;


            @media screen and (min-width: $main-column-breakpoint){
                & {
                    font-size: inherit;
                }
            }

            &[aria-selected="true"] {
                background: $accented-background-color;
                border-left: 1px solid $table-border-color !important;
                border-right: 1px solid $table-border-color !important;
                border-bottom: none;
                text-decoration: none;
            }

            &:hover,
            &:focus {
                text-decoration: none;
            }
        }

        .icon {
            vertical-align: middle;
        }
    }

    @each $rd, $pairs in $rdfi {
        @each $fi, $color in $pairs {
            .tabs--rdfi [role="tab"].rdfi-#{$rd}.rdfi-#{$fi} {
                border-color: rgba($color, .7);
                transition: border-color .2s ease-in-out;

                &[aria-selected="true"] {
                    border-color: $color;
                    border-bottom-color: $color !important;
                    border-top-color: $color !important;
                }

                .icon {
                    color: $color;
                }
            }
        }
    }

    .tabpanel {
        background: $accented-background-color;
        padding: 1rem;

        .h4 {
            margin: 0 0 2rem 0;
            padding-top: 1rem;
        }
    }

    .stackchart{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .over-time{
            flex: 1 0 70%;
        }

        .legend-list{
            flex: 1 1 25%;
            flex-direction: row reverse;
            font-size: .9em;
            padding-left: 1em;
            margin-bottom: 2.5em;
        }

        .money-amount + small {
            display: block;
        }


        @media screen and (min-width: $stackchart-small-breakpoint) {
            justify-content: space-between;

            .legend-list {
                display: flex;
                flex-flow: row wrap;
                align-items: flex-start;

                > li {
                    margin: 0 .5em .5em 0;
                    flex: 1;
                    white-space: nowrap;
                }
            }
        }

        @media screen and (min-width: $stackchart-large-breakpoint) {
            align-items: flex-end;
            flex-direction: row;

            .legend-list {
                flex-direction: column-reverse;

                > li {
                    flex: 1 0 100%;
                    margin: 0 0 .25em 0;
                    white-space: normal;
                }
            }
        }
    }

    @each $rd, $pairs in $rdfi {
        @each $fi, $color in $pairs {
            .donut g.rdfi-#{$rd}.rdfi-#{$fi} {
                fill: $color;
            }
        }
    }

    .legend-list .color {
        border: 1px solid #fff;
        border-radius: 100%;
    }

    .bubble-chart-cluster {
        display: flex;
        flex-flow: row wrap;
        justify-content: start;

        nav {
            flex: 1 1 100%;
        }

        .legend-list {
            display: flex;
            justify-content: space-between;

            ul li {
                display: inline;
            }

            &:nth-child(2) {
                text-align: right;
            }
        }

        .bubble-chart {
            margin: 1.5em 0;
            position: relative;
            width: 25%;

            figcaption {
                display: block;
                line-height: 1;
                padding: 0 .5em;
                position: absolute;
                text-align: center;
                text-shadow: -1px 0px white,
                             1px 0 white,
                             0 -1px white,
                             0 1px white;
                width: 100%;

                .money-amount {
                    display: block;
                    margin-bottom: .2em;
                }

                span:not(.money-amount) {
                    font-size: .9em;
                }
            }

            .money-amount {
                display: block;
            }

            @each $rd, $color in $rdfi-text {
                &.rdfi-#{$rd} .money-amount {
                    color: $color; /* test */
                }
            }

        }

        @each $rd, $pairs in $rdfi {
            @each $fi, $color in $pairs {
                .rdfi-#{$rd}.rdfi-#{$fi} {
                    fill: $color;
                    // stroke: darken($color, 8%);
                    // stroke-width: 2px;
                }

                /* makes it clear for keyboard navigation */
                a:focus .rdfi-#{$rd}.rdfi-#{$fi},
                a:hover .rdfi-#{$rd}.rdfi-#{$fi} {
                    fill: lighten($color, 10%);
                    // stroke: darken($color, 15%);
                }
            }
        }
    }


    .m52-by-fonction{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;

        @media screen and (min-width: $explore-masses-breakpoint) {
            flex-direction: row;
        }

        & > :first-child{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            flex: 2;

            .sunburst .slice{
                cursor: pointer;
            }

        }

        & > :nth-child(2){
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex: 1;
        }

        .display-choice{
            display: flex;
            flex-direction: row;
            align-items: center;

            margin: 1em 0 2em 0;

            .radio{
                margin-left: 0.5em;
                display: flex;
                flex-direction: column;
                align-items: stretch;

                button{
                    padding: 0.5em;
                    border: 1px solid $table-border-color;

                    &.selected{
                        background-color: $brand-color;
                    }
                }
            }
        }

        @for $i from 0 to length($area-colors) {
            .M52-RI-#{$i} path,
            .M52-RF-#{$i} path {
                fill: map-get(nth($area-colors, $i+1), 'R');
            }

            .M52-DI-#{$i} path,
            .M52-DF-#{$i} path {
                fill: map-get(nth($area-colors, $i+1), 'D');
            }
        }

        .legend-list .color {
            @for $i from 0 to length($area-colors) {
                &.M52-RI-#{$i},
                &.M52-RF-#{$i} {
                    background-color: map-get(nth($area-colors, $i+1), 'R');
                }

                &.M52-DI-#{$i},
                &.M52-DF-#{$i} {
                    background-color: map-get(nth($area-colors, $i+1), 'D');
                }
            }
        }
    }

    // interactive elements
    .actionable{
        cursor: pointer;
    }

    .with-focus .brick:not(.focused),
    .with-focus .disk:not(.focused) {
        rect, circle, path {
            fill: $discrete-grey !important;
        }
    }

    .with-focus g.actionable:not(.focused) {
        fill: $discrete-grey !important;
    }
}
