@import '../../shared/style/legend-list';

@import 'finance-element-context';

.finance-dataviz-container {
    .raw-data{
        width: 100%;

        thead th {
            border-bottom: 2px solid $table-border-color;
            text-align: left;
        }

        thead, tbody{
            tr > :nth-child(3){
                text-align: right;
            }
        }

        tbody tr {
            border-bottom: 1px solid $table-border-color;
        }

        td,
        th {
            padding: .4em .2em;
        }

        td.digits {
            text-align: right;
        }
    }

    .raw-data .money-amount,
    .money-amount.tooltip {
        font-family: monospace;
    }

}
