@import '../../shared/style/legend-list';

@import 'finance-element-context';

.finance-dataviz-container {
    .raw-data{
        font-size: .8em;
        width: 100%;

        @media screen and (min-width: $stackchart-small-breakpoint) {
            & {
                font-size: inherit;
            }
        }

        thead th,
        th[scope="col"] {
            border-bottom: 2px solid $table-border-color;
            color: $table-border-color;
            font-weight: normal;
            font-size: .9em;
            text-align: left;
        }

        th[scope="colgroup"].money-amount {
            color: darken($table-border-color, 20%);
        }

        .money-amount{
            text-align: right !important;
        }

        .colgroup {
            text-align: left;

            td, th {
                padding-bottom: .75rem;
                padding-top: .75rem;
            }

            &.colgroup--group {
                th {
                    font-size: 1.25em;
                }

                &:not(:first-of-type) {
                    th {
                        padding-top: 2rem;
                    }
                }
            }
        }

        tbody tr {
            border-bottom: 1px solid $table-border-color;
        }

        td,
        th {
            padding: .4em .2em;
        }

        td.digits,
        th.digits {
            text-align: right;
        }

        .raw-record:hover,
        .raw-record:focus {
            background-color: #fff;
            color: $copy-color;
            border-bottom-color: $copy-color;
        }
    }

    .raw-data .money-amount {
        font-family: monospace;
        font-weight: bold;
    }

}
