
html, body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}

label {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}
