@import 'appetizers';

@import 'budget-construction';

$column-padding: 40px;
$column-max-width: 1200px + 2*$column-padding;
$background-height: 2470px;

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    & > *{
        width: 100%;
        padding: 0 0.5em;

        @media screen and (min-width: $main-column-breakpoint) {
            padding: 0 $column-padding;
            max-width: $column-max-width;
        }
    }

    & > section{
        display: flex;
        flex-direction: column;
    }

}
