@import 'env-vars';
@import 'globals';

@import 'top-level';
@import 'color-palette';
@import 'icons';
@import 'money-amount';
@import 'home';
@import 'finance-element';
@import 'explore-budget';
@import 'footer';

@import '../../shared/style/stackchart';
@import '../../shared/style/tooltip';

.btn {
	display: inline-block;
	color: white;
	background: $brand-color;
	font-size: 1em;
	font-weight: 500;
	text-transform: uppercase;
	padding: 10px 24px;
	border-radius: 2px;
	text-align: center;
    text-decoration: none;
	transition: all .3s ease-in;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
}
