.money-amount{
    font-variant-numeric: oldstyle-nums tabular-nums;
    font-weight: bold;
    white-space: nowrap;

    @each $rd, $palette in $rdfi {
        .rdfi-#{$rd} & {
            color: map-get($palette, 'F');
        }
    }
}
