.money-amount{
    font-variant-numeric: oldstyle-nums tabular-nums;
    font-weight: bold;
    white-space: nowrap;

    &.tooltip {
        font-weight: normal;
    }

    @each $rd, $pairs in $rdfi {
        @each $fi, $color in $pairs {
            .rdfi-#{$rd}.rdfi-#{$fi} & {
                color: $color;
            }
        }
    }

    .millions,
    .thousands,
    .hundreds {
        padding-right: 2px;
    }

    &[data-scale="K"] .hundreds {
        color: lighten($copy-color, 25%);
    }
}
