.money-amount{
    font-variant-numeric: oldstyle-nums tabular-nums;
    font-weight: bold;
    white-space: nowrap;

    &.tooltip {
        font-weight: normal;
    }

    @each $rd, $color in $rdfi-text {
        .rdfi-#{$rd} & {
            color: $color;
        }
    }

    .millions,
    .thousands,
    .hundreds {
        padding-right: 2px;
    }
}
