$column-padding: 30px;
$column-max-width: 1200px + 2*$column-padding;

$main-column-breakpoint: 600px;
$home-layout-breakpoint: 950px;
$focus-layout-breakpoint: 950px;

$stackchart-large-breakpoint: 1100px;
$stackchart-medium-breakpoint: 800px;

$explore-masses-breakpoint: 800px;
$budget-construction-breakpoint: 800px;

$font-copy: Helvetica, Verdana, Arial, sans-serif;
$font-headline: costa, Domine, sans-serif;
