$column-padding: 40px;
$column-max-width: 1200px + 2*$column-padding;

$main-column-breakpoint: 600px;
$home-layout-breakpoint: 950px;
$focus-layout-breakpoint: 950px;

$stackchart-large-breakpoint: 1100px;
$stackchart-medium-breakpoint: 768px;
$stackchart-small-breakpoint: 480px;

$explore-masses-breakpoint: 800px;
$budget-construction-breakpoint: 800px;

$font-copy: Helvetica, Verdana, Arial, sans-serif;
$font-headline: costa, Roboto, sans-serif;
$copy-color: #342b24;
$discrete-copy-color: #685c53;

$chart-border-color: #E5E2DF;
$discrete-background-color: #FAF9F9;
$accented-background-color: #F2F0EE;

$h1-font-size: 1.5rem;
